body {
      background-color: #222;
      color: white;
      font-family: Chivo;
    }
    .header {
      text-align: center;
      padding: 40px 10px;
      background-color: #222;
    }

    .header h1 {
      color: #f7ffd9;
      font-size: 50px;
    }

    .header p {
      color: #ccc;
    }

    .year-card{
        position: relative;
        overflow: hidden;
        border: none

    }
    .year-card img{
        height:100%;
        width:100%;
        object-fit:cover;
        opacity: 0.9;
    }
    .year-overlay{
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background-color: rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: left;

        transition: background-color 0.3s;
    }
     .year-overlay:hover {
      background-color: rgba(40, 39, 39, 0.7);
    }
    .year-overlay a {
      color: rgb(255, 255, 255);
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 20px;
      transition: 0.3s;
    }

    .year-overlay a:hover {
      background-color: white;
      color: rgb(214, 74, 74);
      text-decoration: none;
    }
    .main-content {
    margin-left: 200px;  /* same as sidebar width */
    padding: 20px;       /* optional, adds spacing inside */
    }
    .sidebar {
    position: fixed;
    top: 0;       /* Start at the top */
    left: 0;      /* Stick to the left */
    height: 100vh; /* Full viewport height */
    width: 200px; 
    background-color: #323232;
    color: white;
    padding: 20px;
    overflow-y: auto; /* If content is taller than viewport, scroll */
    }
    .sidebar-dropdown a{
    background-color: #323232;
    color: white;
    }

    .gallery-img {
      width: 100%;
      border-radius: 3px;
      margin-bottom: 16px;
      transition: transform 0.3s ease;
    }

    .gallery-img:hover {
      transform: scale(1.05);
    }
    .main-content {
    margin-left: 200px;  /* same as sidebar width */
    padding: 20px;       /* optional, adds spacing inside */
    }